[submodule "base_folder/cytee-demo-project"]
	path = base_folder/cytee-demo-project
	url = git@github.com:martenb-se/cytee-demo-project.git
[submodule "tool/cytee"]
	path = tool/cytee
	url = git@github.com:martenb-se/cytee.git
